{
  "presets": [
    ["env", {
      "modules": false,
      "targets": {
        "browsers": [
          "last 2 versions",
          "not dead"
        ]
      }
    }]
  ],
  "env": {
    "test": {
      "plugins": ["transform-es2015-modules-commonjs"]
    }
  }
}
